@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing : border-box;
    font-family: "Quicksand", serif;
}
section{
    margin-bottom: 3.5rem;
}
.orange{
    color: orange;
}
.sky{
    color: skyblue;
}
hr{
    display: none;
}

.navbar{
    display: flex;
    max-width: 1160px;
    
    margin: 1.2rem auto;
    justify-content: space-around;
    align-items: center;
}
.navbar .logo{
    display: flex;
    align-items: center;
    gap: 0.7rem;
}
.navbar ul{
    display: flex;
    list-style: none;
    gap: 1rem;
}
.navbar i{
    display: none;
}
.navbar li:first-child{
    
    color:orange 
}
.navbar li:nth-child(2){
    
    color: skyblue 
}
.navbar li:nth-child(3){
    
    color: #05D4DF
}
.navbar li:nth-child(4){
    color: #5D58EF;
}



.navbar span{
    font-size: 2rem;
    font-weight: bold;
}

.contact{
    color: white;
    background-color: orange;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 10px 35px;
    border: none;

}
.firstSec{
    max-width: 1158px;
     margin: 0 auto;
     display: flex;
     align-items: center;
     gap: 1rem;
}

 .description h1{
    font-size: 3.5rem;
    font-weight: bold;
    width: 80%;
    margin-bottom: 1.2rem;
 }
 
 .description p{
    font-size: 1.2rem;
    font-weight: 500;
    margin-top: 1rem;
    margin-bottom: 1rem;
    
 }

.enroll{
    background-color: black;
    border-radius: 12px;
    font-size: 1.2rem;
    font-weight: 500;
    padding: 15px 35px;
    border: none;
    color: white;
}

.secondSec{
    background-image: url(../assets/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 3.5rem;

}
.secondSec h1{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 5rem;
}
.cards{
    display: flex;
    max-width: 1160px;
    justify-content: center;
    margin: 0 auto;
    gap: 1.7rem;
    
}
.card{
    text-align: center;
    border: 1px solid #FFF4DC;
    border-radius: 18px;
    padding: 50px;
}
.card:first-child{
    border: 1px solid #DEF5FF;
    background: linear-gradient(to bottom, #DEF5FF 20%, white 80%);
}
.card img{
    margin-bottom: 1.2rem;
}
.card h3{
    margin-bottom: 1.2rem;
}
.card p{
    margin-bottom: 1.2rem;
}

@media screen and (max-width: 460px){

    .navbar li,
    .contact,
    .navbar span{
        display: none;
    }
    .navbar i{
        display: block;
        font-size: x-large;
    }
    hr{
        display: block;
        color: orange;
        opacity: 40%;
        
    }
    .navbar{
        
        justify-content: space-around;
    
    }
   .firstSec{
    flex-direction: column-reverse;
   }
   .description {
    display: flex;
    justify-content: center;
   align-items: center;
   text-align: center;

   }
   .description h1
   {
    width: 70%;
    font-size: 2rem;
   }
   .description p{
    font-size: 0.9rem;
   }
   .firstSec .homeImg {
    padding: 0 1rem;
   }
   .firstSec .homeImg img{
    
    width: 100%;
 }
  
    
}

